<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 col-xs-12">
      <div class="card auth-cards">
        <div class="card-body">
          <h5 class="card-title text-center">Register</h5>
          <form (submit)="register($event)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" [(ngModel)]="name" name="name" required #fullName="ngModel" [ngClass]="{'is-invalid' : fullName.touched && fullName.errors }">
              <div class="invalid-feedback" [hidden]="!fullName.errors">Fullname is required</div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" [(ngModel)]="email" name="email">
            </div>
            <div class="form-group">
              <label for="email">Password</label>
              <input type="password" class="form-control" [(ngModel)]="password" name="password">
            </div>
            <div class="form-group">
              <label for="email">Confirm Password</label>
              <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword">
            </div>
            <button class="btn btn-primary btn-block" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>